<section class="l-main__articles">
    <div class="articles__title">
        <div class="item__title">
            <h2 class="title__main primary-h2">Статьи</h2>
            <div class="title__secondary primary">
                <h3>Все статьи</h3>
                <div class="secondary__img">{{ inc.inlineSvg('arrow', '../static/img/arrow.svg') }}</div>
            </div>
        </div>
    </div>
    <div class="articles__container">
        <div class="container__item">
            <div class="item__img">
                <img class="js-lazy-img" src="{{ inc.pixel }}" data-src="../img/mainpage/articles/1.png" alt="">
            </div>
            <div class="item__description">
                <p class="description__date">05.03.2021</p>
                <h3 class="description__title">Режим использования масок и перчаток на территории магазинов</h3>
                <p class="description__main">Подробная информация о режимах использования масок и перчаток на территории магазинов "ЛЕНТА". Информация обновляется каждый будний день.</p>
                <input type="button" class="description__btn" value="Подробнее">
            </div>
        </div>
        <div class="container__item">
            <div class="item__img">
                <img class="js-lazy-img" src="{{ inc.pixel }}" data-src="../img/mainpage/articles/2.png" alt="">
            </div>
            <div class="item__description">
                <p class="description__date">05.03.2021</p>
                <h3 class="description__title">Весеннее настроение для каждой</h3>
                <p class="description__main">8 Марта – это не просто Международный женский день, это ещё день тюльпанов, приятных сюрпризов и праздничных тёплых пожеланий</p>
                <input type="button" class="description__btn" value="Подробнее">
            </div>
        </div>
        <div class="container__item">
            <div class="item__img">
                <img class="js-lazy-img" src="{{ inc.pixel }}" data-src="../img/mainpage/articles/3.png" alt="">
            </div>
            <div class="item__description">
                <p class="description__date">05.03.2021</p>
                <h3 class="description__title">ЗОЖ или ФАСТФУД. А вы на чьей стороне? Голосуем!</h3>
                <p class="description__main">Голосуйте за любимые категории, выбирайте категорию-победителя в мобильном приложении и получайте кешбэк 10% баллами в апреле!</p>
                <input type="button" class="description__btn" value="Подробнее">
            </div>
        </div>

    </div>
</section>
