<section class="l-main__offers">
    <h2 class="offers__text">Специальные предложения</h2>
    <div class="offers_items">
        <div class="items__card-make offer-card">
            <div class="offer-card__text">
                <h3 class="text__title">Оформите карту «Северяночка»</h3>
                <p class="text__description">И получайте бонусы при покупке в магазинах и на сайте</p>
            </div>
            <img class="js-lazy-img" src="{{ inc.pixel }}" data-src="../img/mainpage/special-offers/card-make.png" alt="">
        </div>
        <div class="items__discount-buy offer-card">
            <div class="offer-card__text">
                <h3 class="text__title">Покупайте акционные товары</h3>
                <p class="text__description">И получайте вдвое больше бонусов</p>
            </div>
            <img class="js-lazy-img" src="{{ inc.pixel }}" data-src="../img/mainpage/special-offers/discount-buy.png" alt="">
        </div>
    </div>
</section>
