<section class="l-main__stores">
    <h2 class="stores__text primary-h2">Наши магазины</h2>
    <div class="stores__points">
        <input type="button" class="points__item" value="п.Щельяюр">
        <input type="button" class="points__item" value="д.Вертеп">
        <input type="button" class="points__item" value="с.Краснобор">
        <input type="button" class="points__item" value="д.Диюр">
    </div>
    <div class="stores__map">
        <iframe class="map__item" src="https://yandex.ru/map-widget/v1/?um=constructor%3A06ce190555d037270466e474b893087dd7c5752009cdd068f56e28687309f798&amp;source=constructor" frameborder="0"></iframe>
{#        <iframe class="map__item" src="https://yandex.ru/map-widget/v1/?um=constructor%3A06ce190555d037270466e474b893087dd7c5752009cdd068f56e28687309f798&amp;source=constructor" width="1208" height="534" frameborder="0"></iframe>#}
{#        <iframe class="map__item" src="https://yandex.ru/map-widget/v1/?um=constructor%3A06ce190555d037270466e474b893087dd7c5752009cdd068f56e28687309f798&amp;source=constructor" width="1208" height="534" frameborder="0"></iframe>#}
    </div>
</section>
