$b: '.l-main__contacts';

#{$b} {
  margin-top: 33px;

  .contacts__container {
    display: flex;
    gap: 90px;
    margin-top: 48px;
    align-items: center;

    .container__item {
      display: flex;
      gap: 8px;
      font-size: 24px;
      color: $text-base;

      .item__img {
        height: 30px;
      }

      .item__description {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .description__phone {
          font-weight: bold;
          text-decoration: underline;
        }
      }
    }
  }
}
