$b: '.filter';

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid $white-true;
  background: $bg-buttons-secondary;
  color: #454545;
}

.ui-slider .ui-slider-handle {
  width: 24px;
  height: 24px;
  border-radius: 100px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -0.7em;
}

.ui-widget-content {
  background-color: $grayscale-lightest;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-widget-header {
  background: $bg-buttons-secondary;
  border: none;
}

.ui-slider-horizontal {
  height: 4px;
}

#{$b} {
  display: flex;
  flex-direction: column;
  max-width: 272px;
  flex-grow: 1;

  &__title {
    height: 44px;
    font-weight: bold;
    padding: 10px;
    background-color: $grayscale-lightest;
    border-radius: 4px;
  }

  &__price {
    display: flex;
    gap: 13px;
    flex-direction: column;
    margin-top: 40px;

    .price__title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title__clear-btn {
        font-size: 12px;
        background-color: $bg-buttons-secondary-muted-alt;
        width: 85px;
        height: 32px;
        border-radius: 4px;
      }
    }

    .price__value {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      .value__first,
      .value__secondary {
        width: 124px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid $grayscale-light;
        color: $text-base;
        padding: 8px 16px;
      }

      .value__stroke {
        width: 15px;
        height: 1px;
      }
    }

    .price__select {
      margin-top: 13px;
    }
  }

  &__categories {
    display: flex;
    gap: 35px;
    flex-direction: column;
    margin-top: 60px;

    .categories__item {
      transition: $g-transition;

      &.is-active {
        color: $orange-true;
      }
    }
  }

  .available-switch {
    margin-top: 52px;
  }

  &__apply-btn {
    text-align: center;
    background-color: $bg-primary;
    border-radius: 4px;
    align-self: auto;
    height: 40px;
    margin-top: 40px;
    color: $text-secondary;
    transition: $g-transition;
  }
}
