$b: '.filter';

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: 1px solid $white-true;
  background: $bg-buttons-secondary;
  color: #454545;
}

.ui-slider .ui-slider-handle {
  width: 24px;
  height: 24px;
  border-radius: 100px;
}

.ui-slider-horizontal .ui-slider-handle {
  top: -0.7em;
}

.ui-widget-content {
  background-color: $grayscale-lightest;
}

.ui-widget.ui-widget-content {
  border: none;
}

.ui-widget-header {
  background: $bg-buttons-secondary;
  border: none;
}

.ui-slider-horizontal {
  height: 4px;
}

#{$b} {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 272px;
  flex-grow: 1;

  &__title {
    height: 44px;
    font-weight: bold;
    padding: 10px;
    background-color: $grayscale-lightest;
    border-radius: 4px;
  }

  &__price {
    display: flex;
    gap: 13px;
    flex-direction: column;

    .price__title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title__clear-btn {
        font-size: 12px;
        background-color: $bg-buttons-secondary-muted-alt;
        width: 85px;
        height: 32px;
        border-radius: 4px;
      }
    }

    .price__value {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .value__first,
      .value__secondary {
        width: 124px;
        height: 40px;
        border-radius: 4px;
        border: 1px solid $grayscale-light;
        color: $text-base;
        padding: 8px 16px;
      }
    }

    .price__select {
      margin-top: 13px;
    }
  }

  &__categories {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  &__available-switch {
    display: flex;
    align-items: center;
    gap: 10px;

    .available-switch__switch {
      position: relative;
      width: 46px;
      height: 24px;

      .switch__checkbox {
        &:checked + .switch__slider {
          background-color: $bg-buttons-secondary;
        }

        &:checked + .switch__slider::before {
          transform: translateX(23px);
        }
      }

      .switch__slider {
        position: absolute;
        cursor: pointer;
        display: flex;
        align-items: center;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $grayscale-light;
        transition: $g-transition;
        border-radius: 49px;

        &::before {
          position: absolute;
          content: "";
          height: 20px;
          width: 20px;
          background-color: $bg-main;
          transition: $g-transition;
          border-radius: 100px;
          margin-left: 2px;
          box-shadow: $shadow-secondary-muted;
        }
      }
    }
  }

  &__apply-btn {
    text-align: center;
    background-color: $bg-primary;
    border-radius: 4px;
    align-self: auto;
    padding: 8px;
    color: $text-secondary;
  }
}
