$b: ".l-main";

#{$b} {
  &__stores {
    display: flex;
    flex-direction: column;
    margin-top: 129px;

    .stores__points {
      display: flex;
      gap: 24px;
      margin-top: 40px;

      .points__item {
        padding: 8px;
        background-color: $bg-buttons-secondary-muted-alt;
        border-radius: 4px;
        width: 97px;
        height: 32px;
        color: $grayscale-medium;
        transition: $g-transition;

        &:hover {
          box-shadow: $shadow-secondary-muted;
        }

        &.selected {
          background-color: $bg-buttons-secondary;
          color: $text-secondary;

          &:hover {
            box-shadow: $shadow-secondary;
          }
        }

        &:nth-child(2) {
          width: 86px;
        }

        &:nth-child(3) {
          width: 103px;
        }

        &:nth-child(4) {
          width: 80px;
        }
      }
    }

    .stores__map {
      display: none;
      flex-grow: 1;
      margin-top: 24px;
      height: 354px;
      border-radius: 4px;

      &.selected {
        display: flex;
      }
    }
  }

  .stores__container {
    display: flex;
    align-items: center;
    gap: 80px;
    margin-top: 32px;

    .container__item {
      display: flex;
      flex-direction: column;
      gap: 12px;
      font-size: 18px;

      .item__img {
        height: 20px;
        width: 145px;
      }

      .item__container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .item__description {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;

          .description__image {
            height: 30px;
            width: 30px;
          }
        }
      }
    }
  }
}
