<div class="l-main__page-check">
    <p class="page-check__before-page">
        <a href="index.html">Главная</a>
    </p>
    <div class="page-check__arrow secondary__img">{{ inc.inlineSvg('arrow', '../static/img/arrow.svg') }}</div>
    <p class="page-check__current-page">{{ pageTitle }}</p>
</div>
