<article class="product-container__item">
	<div class="item__img">
		<img class="item__img__product" src="../img/sections/product/1.png" alt=""/>
{#        Todo не используем input type=button, это плохая практика, используем кнопки button type button исправляем везде #}
{#        Todo внутри кнопки должна быть svg картинка вставлена с сердечком, она должна окращиваться при hover
 и закрашиваться если active, не грузится новая картинка в background#}
		<input type="button" class="item__img__like-btn"/>
		<div class="item__img__discount-info">-50%</div>
	</div>
	<div class="item__description">
		<div class="description__price">
			<span class="price__by-card">
				<h4 class="by-card__price">44,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="by-card__info price-desc">С картой</h6>
			</span>
			<span class="price__standard">
				<h4 class="standard__price">50,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="standard__info price-desc">Обычная</h6>
			</span>
		</div>
		<h3 class="description__title">Г/Ц Блинчики с мясом вес, Россия</h3>
		{# For example #}
		<div class="description__rating">
			{{ inc.inlineSvg('rating', '../static/img/sections/product/rating.svg') }}
		</div>
		<input type="submit" class="description__basket-btn" value="В корзину"/>
	</div>
</article>
<article class="product-container__item">
    <div class="item__img">
        <img class="item__img__product" src="../img/sections/product/1.png" alt=""/>
        <input type="button" class="item__img__like-btn"/>
        <div class="item__img__discount-info">-50%</div>
    </div>
    <div class="item__description">
        <div class="description__price">
			<span class="price__by-card">
				<h4 class="by-card__price">44,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="by-card__info price-desc">С картой</h6>
			</span>
            <span class="price__standard">
				<h4 class="standard__price">50,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="standard__info price-desc">Обычная</h6>
			</span>
        </div>
        <h3 class="description__title">Г/Ц Блинчики с мясом вес, Россия</h3>
        {# For example #}
        <div class="description__rating">
            {{ inc.inlineSvg('rating', '../static/img/sections/product/rating.svg') }}
        </div>
        <input type="submit" class="description__basket-btn" value="В корзину"/>
    </div>
</article>

<article class="product-container__item">
    <div class="item__img">
        <img class="item__img__product" src="../img/sections/product/1.png" alt=""/>
        <input type="button" class="item__img__like-btn"/>
        <div class="item__img__discount-info">-50%</div>
    </div>
    <div class="item__description">
        <div class="description__price">
			<span class="price__by-card">
				<h4 class="by-card__price">44,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="by-card__info price-desc">С картой</h6>
			</span>
            <span class="price__standard">
				<h4 class="standard__price">50,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="standard__info price-desc">Обычная</h6>
			</span>
        </div>
        <h3 class="description__title">Г/Ц Блинчики с мясом вес, Россия</h3>
        {# For example #}
        <div class="description__rating">
            {{ inc.inlineSvg('rating', '../static/img/sections/product/rating.svg') }}
        </div>
        <input type="submit" class="description__basket-btn" value="В корзину"/>
    </div>
</article>

<article class="product-container__item">
    <div class="item__img">
        <img class="item__img__product" src="../img/sections/product/1.png" alt=""/>
        <input type="button" class="item__img__like-btn"/>
        <div class="item__img__discount-info">-50%</div>
    </div>
    <div class="item__description">
        <div class="description__price">
			<span class="price__by-card">
				<h4 class="by-card__price">44,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="by-card__info price-desc">С картой</h6>
			</span>
            <span class="price__standard">
				<h4 class="standard__price">50,50<span class="price__vault">₽</span>
				</h4>
				<h6 class="standard__info price-desc">Обычная</h6>
			</span>
        </div>
        <h3 class="description__title">Г/Ц Блинчики с мясом вес, Россия</h3>
        {# For example #}
        <div class="description__rating">
            {{ inc.inlineSvg('rating', '../static/img/sections/product/rating.svg') }}
        </div>
        <input type="submit" class="description__basket-btn" value="В корзину"/>
    </div>
</article>

