$b: '.g';

html {
  font-size: #{$root-font-size}px;
}

body {
  position: relative;
  min-width: 320px;
  height: 100%;
  font-family: $font-family-base;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height;
  color: $text-base;
  background: $bg-main;
  text-rendering: geometricPrecision;
}

.primary-h2 {
  font-size: $h2-primary-size;
  color: $text-base;
  font-weight: bold;
}

.item__title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.secondary__img {
  height: 7px;
  margin-left: 10px;
  rotate: -90deg;
  width: 13px;
}

.title__secondary {
  display: flex;
  align-items: center;
  gap: 25px;
  color: $grayscale-medium;
}

//Проверка - на какой странице находимся
.l-main__page-check {
  display: flex;
  gap: 16px;
  align-items: center;
  font-size: 12px;
  margin-top: 29px;

  .secondary__img {
    margin-left: 4px;
  }

  .page-check__before-page {
    color: $text-base;
  }

  .page-check__current-page {
    color: $grayscale-medium-alt;
    margin-left: 5px;
  }
}

.title-page {
  color: $text-base;
  font-size: 64px;
  font-weight: 700;
}

a {
  transition: $g-transition;
}

#{$b}-alt-bg {
  background-color: $bg-alt;
}

#{$b}-tab {
  &._active {
    cursor: default;
  }

  &-content {
    &:not(._active) {
      display: none;
    }
  }
}
