<div class="l-main__contacts container">
    <h1 class="contacts__title title-page">{{ pageTitle }}</h1>
    <div class="contacts__container">
        <div class="container__item">
            <div class="item__img">
                {{ inc.inlineSvg('logo', '../static/img/home.svg') }}
            </div>
            <div class="item__description">
                <h3 class="description__name">Бухгалтерия, склад</h3>
                <h3 class="description__phone">+7 908 716 33 97</h3>
            </div>
        </div>
        <div class="container__item">
            <div class="item__img">
                {{ inc.inlineSvg('logo', '../static/img/percent.svg') }}
            </div>
            <div class="item__description">
                <h3 class="description__name">Вопросы по системе лояльности</h3>
                <h3 class="description__phone">+7 908 716 33 97</h3>
            </div>
        </div>
    </div>
</div>
