$b: '.l-main';

#{$b} {
  flex-grow: 1;
  min-height: 1px;
  background-color: $bg-alt;
  // Todo кажется что это нужно вынести в отдельный класс, иначе получается не гибко,
  //  у тебя не может получается быть страницы без этого отступа снизу
  padding-bottom: 80px;
}
