$b: '.l-page';

#{$b} {
  position: relative;
  overflow: hidden;
  display: flex;
  // Todo этого точно тут не должно быть, сделай отдельный класс если нужно центровать элементы
  margin: 0 auto;

  &-layout {
    @include true-vh('min-height', 100);
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
