{% import "includes/_includes.twig" as inc %}
<!DOCTYPE html>
<html lang="ru"{% if pageClass %} class="{{ pageClass }}"{% endif %}>
{% include 'modules/head.twig' %}
<body>
<div class="l-page">
    {% include "modules/site-preloader.twig" %}
    <div class="l-page-layout">
        {% include "modules/site-header.twig" %}
        <main class="l-main">
            {% block content %}{% endblock %}
        </main>
        {% include "modules/site-footer.twig" %}
    </div>
</div>
</body>
</html>
