$b: '.l-main__articles';

#{$b} {
  margin-top: 125px;
  display: flex;
  flex-direction: column;

  .articles__container {
    display: flex;
    gap: 40px;
    margin-top: 40px;

    .container__item {
      display: flex;
      flex-direction: column;
      max-width: 376px;
      max-height: 429px;
      height: auto;
      background-color: $bg-main;

      .item__img {
        max-height: 165px;
      }

      .item__description {
        padding: 10px;
        display: flex;
        gap: 14px;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;

        .description__date {
          font-size: 12px;
          color: $grayscale-hard-sec;
        }

        .description__title {
          font-size: 18px;
          color: $text-base;
          font-weight: bold;
        }

        .description__main {
          line-height: 24px;
        }

        .description__btn {
          width: 150px;
          height: 40px;
          padding: 8px;
          border-radius: 4px;
          background-color: $bg-buttons-secondary-muted;
          color: $bg-buttons-secondary;
          transition: $g-transition;

          &:hover {
            background-color: $bg-buttons-secondary;
            color: $text-secondary;
          }
        }
      }
    }
  }
}
