$b: ".l-main__products-container";

#{$b} {
  display: flex;
  flex-direction: column;
  gap: 120px;
  margin-top: 80px;

  .products-container__item {
    display: flex;
    flex-direction: column;
    gap: 42px;

    &:nth-last-child(-n + 2) .item__img__discount-info,
    &:nth-last-child(-n + 2) .by-card__info,
    &:nth-last-child(-n + 2) .price__standard {
      display: none;
    }
  }
}
