$b: ".l-main";

#{$b} {
  &__products-container {
    display: flex;
    flex-direction: column;
    gap: 120px;
    margin-top: 80px;
  }

  .products-container__item {
    display: flex;
    flex-direction: column;
    gap: 42px;
    margin: 0 auto;

    &:nth-last-child(-n + 2) .item__img__discount-info,
    &:nth-last-child(-n + 2) .by-card__info,
    &:nth-last-child(-n + 2) .price__standard {
      display: none;
    }

    .item__product-container {
      display: flex;
      gap: 40px;
    }
  }
}
