<div class="l-main__catalog-select container">
    <h1 class="catalog-select__title title-page">{{ pageTitle }}</h1>
    <div class="catalog-select__container">
        <div class="container__select-item">
            <p class="select__item__text">Молоко, сыр, яйцо</p>
        </div>
        <div class="container__select-item">
            <p class="select__item__text">Хлеб</p>
        </div>
        <div class="container__select-item">
            <p class="select__item__text">Фрукты и овощи</p>
        </div>
        <div class="container__select-item">
            <p class="select__item__text">Замороженные продукты</p>
        </div>
        <div class="container__select-item">
            <p class="select__item__text">Напитки</p>
        </div>
        <div class="container__select-item">
            <p class="select__item__text">Кондитерские изделия</p>
        </div>
        <div class="container__select-item">
            <p class="select__item__text">Чай, кофе</p>
        </div>
        <div class="container__select-item">
            <p class="select__item__text">Бакалея</p>
        </div>
        <div class="container__select-item">
            <p class="select__item__text">Здоровое питание</p>
        </div>
        <div class="container__select-item">
            <p class="select__item__text">Зоотовары</p>
        </div>
        <div class="container__select-item">
            <p class="select__item__text">Детское питание</p>
        </div>
        <div class="container__select-item">
            <p class="select__item__text">Мясо, птица, колбаса</p>
        </div>
        <div class="container__select-item">
            <p class="select__item__text">Непродовольственные товары</p>
        </div>
    </div>
</div>
